<.form_box title="Confirm account">

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Confirm my account", class: submit_class() %>
  </div>
</.form>

<.bottom_links>
  <:l1><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></:l1>
  <:l2><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></:l2>
</.bottom_links>
</.form_box>
